<head>
    <link rel="stylesheet" href="../css/project_style.css" />
</head>

<section class="project_c caffe">

    <div class="project_content_container">
        <div class="project_content">

            <div class="title_container_p">
                <h1>3D Website</h1>
            </div>

            <div class="descritpion_container">
                <p>This project showcases creative use of 3d coffe shop website concept.</p>
            </div>

            <div class="technologies_container">
                <h2>Technologies: </h2>
                <div class="icons_created_with">
                    <div class="icon_c">
                        <!--Html-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84.08 100.02">
                            <title>Html</title>
                            <g id="Warstwa_2" data-name="Warstwa 2">
                                <g id="Warstwa_11" data-name="Warstwa 11">
                                    <polygon class="fill_white" points="82.55 18.5 83.55 0.5 0.55 0.5 5.55 54.5 59.55 54.5 57.55 74.5 45.55 79.5 28.55 74.5 26.55 65.5 6.55 64.5 8.55 89.5 42.55 99.5 76.55 89.5 79.55 34.5 24.55 34.5 22.55 18.5 82.55 18.5" style="stroke-miterlimit: 10" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="icon_c">
                        <!--CSS-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84.08 100.02">
                            <title>CSS</title>
                            <g id="Warstwa_2" data-name="Warstwa 2">
                                <g id="Warstwa_11" data-name="Warstwa 11">
                                    <polygon class="fill_white" points="0.56 0.5 83.56 0.5 82.56 19.5 43.55 34.5 80.56 34.5 76.56 89.5 42.55 99.5 8.55 89.5 6.55 64.5 26.55 64.5 26.55 72.5 40.55 79.5 57.55 74.5 58.55 54.5 5.55 54.5 3.56 34.5 42.55 19.5 2.56 19.5 0.56 0.5" style="stroke-miterlimit: 10" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="icon_c">
                        <!--JS-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.42 99.78">
                            <title>JS</title>
                            <g id="Warstwa_2" data-name="Warstwa 2">
                                <g id="Warstwa_11" data-name="Warstwa 11">
                                    <g>
                                        <polygon class="fill_white" points="29.22 0.5 42.95 0.5 42.95 99.13 0.5 87.9 0.5 70.42 29.22 77.91 29.22 0.5" style="stroke-miterlimit: 10" />
                                        <polygon class="fill_white" points="55.44 0.5 102.88 0.5 101.63 17.98 70.42 17.98 69.17 44.2 99.13 40.45 96.64 89.15 55.44 99.13 55.44 81.66 84.15 74.16 84.15 59.18 55.44 64.17 55.44 0.5" style="stroke-miterlimit: 10" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <p><a target="_blank" href="../3DWebsite/index.html">See Live</a></p>
            </div>


        </div>
    </div>
</section>