@page "/Components"

<head>
    <link rel="stylesheet" href="../css/components_style.css" />
    <link rel="stylesheet" href="../css/sorting_algorithms_style.css" />
</head>

<section class="components">
    <div class="components_container">

        <div class="title">
            <div class="title_container">
                <h1>Components</h1>
            </div>
        </div>
        

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="component blue_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/DataSort.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Sorting Algorithms
                        </h2>

                        <div class="component_link">
                            <NavLink href="SortingAlgorithms">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="component red_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/table.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Data Sorting
                        </h2>

                        <div class="component_link">
                            <NavLink href="DataSorting">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="component orange_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/RegisterForm.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Register Page
                        </h2>

                        <div class="component_link">
                            <NavLink href="RegisterComponent">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 ">
                <div class="component purple_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/CreatePost.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Create Post
                        </h2>

                        <div class="component_link">
                            <NavLink href="CreatePost">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="component blue_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/shoe.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Custom Clothing Order
                        </h2>

                        <div class="component_link">
                            <NavLink href="CustomClothing">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="component orange_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/BuildPizza.png" alt="BuildPizza.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Build Pizza
                        </h2>

                        <div class="component_link">
                            <NavLink href="BuildPizza">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6">
                <div class="component red_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/EmailForm.png" alt="EmailForm.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Contact Form
                        </h2>

                        <div class="component_link">
                            <NavLink href="ContactForm">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6">
                <div class="component purple_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/Comments.png" alt="Comments.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Comments
                        </h2>

                        <div class="component_link">
                            <NavLink href="CommentsComponent">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="component orange_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/Clocks.png" alt="Clocks.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Clock Component
                        </h2>

                        <div class="component_link">
                            <NavLink href="ClocksComponent">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="component red_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/ToDo.png" alt="ToDo.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            To Do List
                        </h2>

                        <div class="component_link">
                            <NavLink href="ToDo">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="component orange_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/Gallery.png" alt="ezsat_img" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Blazor Draggable Gallery
                        </h2>

                        <div class="component_link">
                            <NavLink href="Gallery">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="component purple_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/Calculator.png" alt="Calculator.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Calculator
                        </h2>

                        <div class="component_link">
                            <NavLink href="Calculator">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="component blue_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/PingWebsite.png" alt="PingWebsite.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Ping Website
                        </h2>

                        <div class="component_link">
                            <NavLink href="PingWebsite">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="component red_c">
                    <div class="img_cotnainer">
                        <img src="../components_images/Logical.png" alt="Logical.png" />
                    </div>

                    <div class="component_description">
                        <h2>
                            Logical Exercises
                        </h2>
                        <div class="component_link">
                            <NavLink href="LogicalExercises">
                                See Component
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

