@page "/GalleryBlazor"

<head>
    <link rel="stylesheet" href="../css/component_main_style.css" />
</head>

<div class="page_container">

    <div class="component_container">

        <div class="title_container">
            <h1>Clocks Component</h1>
            <div class="underline_container">
                <div class="underline"></div>
            </div>
        </div>

        <div class="component_description">
            <p>
                This component
            </p>
        </div>

        <div class="program_container">
        </div>
    </div>
</div>